.pdf-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pdf-page-container .pdfviewer-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.pdf-page-container .pdfviewer-container .filepicker-panel {
  flex: 2;
  max-height: 100%;
  overflow: auto;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.pdf-page-container .pdfviewer-container .filepicker-panel label {
  line-height: 2;
}
.pdf-page-container .pdfviewer-container .filepicker-panel input {
  border: none;
  background-color: #eee;
  font-size: 1rem;
  padding: 12px;
  border-radius: 4px;
  overflow: hidden;
  width: calc(100% - 40px);
}
.pdf-page-container .pdfviewer-container .filepicker-panel input:focus {
  outline-style: solid;
  outline-width: 3px;
  outline-color: rgb(187, 187, 187);
}
.pdf-page-container .pdfviewer-container .webviewer {
  flex: 8;
  margin: 0;
  box-shadow: none;
}








@media screen and (max-width: 768px) {
  .pdf-page-container .pdfviewer-container {
    flex-direction: column;
  }
  .pdf-page-container .pdfviewer-container .filepicker-panel {
    flex: 1;
    max-height: 100px;
    overflow: auto;
  }
  .pdf-page-container .pdfviewer-container .webviewer {
    flex: 1;
  }
  
}





