.orgchart-container {
  position: relative!important;
  border: none!important;
  width: 100%!important;
  min-height: calc(100vh - 85px)!important;
  background-color: var(--third-color)!important;
  margin: 0!important;
}
.oc-hierarchy {
  cursor: move;

}
.sekure-org-chart {
  background-image: none !important;
}
.orgchart > ul > li > ul li::before {
  border-top: 2px solid #a5a5a5 !important;
}

.orgchart > ul > li > ul li > .oc-node::before,
.orgchart ul li .oc-node:not(:only-child)::after {
  height: 14px !important;
  background-color: #a5a5a5 !important;
}

.orgchart ul li .oc-node:hover,
.orgchart ul li .oc-node.selected {
  background-color: transparent !important;
}

.oc-edge.leftEdge,
.oc-edge.rightEdge,
.oc-edge.topEdge,
.oc-edge.bottomEdge {
  display: none !important;
}
.org-title {
  width: 100%;
  font-size: 0.9rem;
  text-align: right;
  line-height: 1;
}

.org-node-container {
  padding: 10px;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  gap: 5px;
  width: 200px;
  height: 120px;
  color: #fff;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid #adadad;
  transition: .3s;
}
div[id="1"] > .org-node-container {
  background-color: var(--main-color) !important;
}
.org-node-container:hover {
  cursor: pointer;
  background-color: var(--main-color) !important;
}
.org-node-container:active {
  transform: scale(0.98);
}


.org-person {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}
.headshot {
  color: var(--main-color);
  display: flex;
  width: 50px;
  height: 50px;
  border-left: 0 solid var(--main-color);
  border-bottom: 0 solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 12px 17px rgba(0,0,0,.18823529411764706);
}

.org-name {
  font-size: 1.1rem;
  line-height: 1;
}
.org-node-children {
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
  background-color: #ebf4ff;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: calc(100% - 15px);
  transform: translateX(-50%);
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  border: 2px solid #adadad;
  font-size: 1rem;
}
.org-node-children p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  white-space: nowrap;
}
.open-user-details {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  background: var(--main-color);
  border: 2px solid var(--main-color);

  border-radius: 12px;
}
.open-user-details:hover {
  background: var(--main-color);
  color: #121e22;
  border: 2px solid var(--main-color);
}

.contact-link {
  color: #fff;
  text-decoration: none;
}
.contact-link:hover {
  color: #121e22;
}
