.team-tree-container {
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  overflow: hidden;
}
.team-tree-container:hover {
  overflow-x: auto;
}
.team-tree-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: calc(100% - 50px);
  background-color: #ececec;
  margin-left: 50px;
  overflow: hidden;
}
.team-tree-container::-webkit-scrollbar {
  display: none;
}

.team-tree-container .back-btn {
  position: absolute;
  left: 0;
  top: 0;
}

.team-tree-container .parent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.team-tree-container .parent .img img {
  position: relative;
  width: 70px;
  height: 70px;
  border: 6px solid #ececec;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}
.team-tree-container .parent .img {
  position: relative;
}
.team-tree-container .parent .img::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  background-color: #ececec;
}

/* .team-tree-container .parent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 160px;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: #ececec;
} */





.team-tree-container .parent img:hover {
  transform: scale(1.06);
}

.team-tree-container .parent img:hover,
.team-tree-container .parent.active img {
  border: 6px solid var(--main-color);
}



.team-tree-container .childrens {
  display: flex;
  gap: 12px;
  align-items: center;
}
.team-tree-container .childrens .child-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}
.team-tree-container .childrens .child-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: #ececec;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}


.team-tree-container .childrens .child-item img {
  width: 50px;
  height: 50px;
  border: 4px solid #ececec;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.team-tree-container .childrens .child-item:hover img {
  border-color: var(--main-color);
  transform: scale(1.06);
}
.team-tree-container .childrens .child-item.active img {
  border-color: var(--main-color);
}