.community-news-page-container {
  min-height: calc(100vh - 85px);
  background: rgb(224,233,255);
  background: linear-gradient(0deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  top: 85px;
  padding: 25px 0;
  margin-bottom: 85px;
}
.community-news-page-container > h1 {
  padding: 0 25px;
  font-weight: 400;
  color: var(--text-color);
  font-size: 28px;
}
.community-news-page-container .news-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  gap: 25px;
  padding: 25px;
  position: relative;
}


@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .community-news-page-container .news-boxs {
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 999px) {
  .community-news-page-container .news-boxs {
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    gap: 15px;
    padding: 15px;
  }
}
@media screen and (max-width: 600px) {
  .community-news-page-container .news-boxs {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  .community-news-page-container .news-boxs {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 10px;
    padding: 10px;
  }
}



.community-news-page-container .ant-pagination-options {
  display: none;
}