.almira-magazine-container {
  padding: 25px;
  min-height: calc(100vh - 85px);
  position: relative;
  top: 85px;
  margin-bottom: 85px;
  display: flex;
  gap: 25px;
  /* justify-content: space-between; */
}
.almira-magazine-container .image {
  /* width: 40%; */
}
.almira-magazine-container .image img {
  max-height: calc(100vh - 135px);
  border-radius: 15px;
}

.almira-magazine-container .content {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.almira-magazine-container .content .header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.almira-magazine-container .content .header h1 {
  line-height: 1;
  font-size: 2.3rem;
}
.almira-magazine-container .content .header p {
  color: #b7b7b7 !important;
  font-size: 1rem;
}
.almira-magazine-container .content .description p {
  color: #000!important;
  font-size: 1.3rem;
}


.almira-magazine-container .content .en-ar-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px auto;
  justify-content: stretch;
  width: 70%;
}
.almira-magazine-container .content .en-ar-btns a:visited,
.almira-magazine-container .content .en-ar-btns a:focus,
.almira-magazine-container .content .en-ar-btns a {
  padding: 10px 15px;
  background-color: #d7b360;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid transparent;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.almira-magazine-container .content .en-ar-btns a:hover {
  color: #d7b360 !important;
  background-color: #fff;
  border: 2px solid #d7b360;
}

@media screen and (max-width: 768px) {
  .almira-magazine-container {
    padding: 10px;
    flex-direction: column;
  }
  .almira-magazine-container .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .almira-magazine-container .content {
    width: 100%;
  }


  .almira-magazine-container .image img {
    width: 100%;
    max-height: 100%;
  }
  .almira-magazine-container .content .header h1 {
    font-size: 1.5rem;
  }
  .almira-magazine-container .content .description p {
    font-size: 1.1rem;
  }

  .almira-magazine-container .content .en-ar-btns a:visited,
  .almira-magazine-container .content .en-ar-btns a:focus,
  .almira-magazine-container .content .en-ar-btns a {
    min-width: 100%;
  }


  .almira-magazine-container .content .en-ar-btns {
    flex-direction: column;
  }

}