.preview-request-container {
    position: relative;
    min-height: calc(100vh - 85px);
    top: 85px;
    padding: 25px;
    margin-bottom: 85px;
  }
  .preview-request-container .header {
    background-color: var(--main-color);
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .preview-request-container .header h1 {
    color: #fff !important;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 400;
  }
  .preview-request-container .header div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
  }

  .preview-request-container .content {
    display: flex;
    gap: 15px;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  .preview-request-container .content .timeline {
    width: 75%;
  }
  .preview-request-container .content .timeline .ant-timeline-item-content {
    background-color: var(--third-color);
    padding: 15px !important;
    border-radius: 5px !important;
    margin: 0 0 0 70px;
    box-shadow: 0px 7px 10px -6px var(--third-color);
    width: auto;
  }
  .preview-request-container .content .timeline .my-reply .ant-timeline-item-content,
  .preview-request-container .content .timeline .request-reply .ant-timeline-item-content {
    margin: 0 0 0 40px !important;
    background-color: rgb(255, 236, 211) !important;
  }
  .preview-request-container .content .timeline .close-reply .ant-timeline-item-content {
    margin: 0 0 0 40px !important;
    background-color: #c7ffee !important;
  }
  .preview-request-container .content .timeline .add-reply .ant-timeline-item-content {
    margin: 0 0 0 40px !important;
  }
  .preview-request-container .content .timeline .ant-timeline-item-content::before {
    content: "";
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: inherit;
    position: absolute;
    left: -12px;
    top: 15px;
    width: 12px;
    height: 20px;
  }
  .preview-request-container .content .timeline .ant-timeline-item-head-custom {
    top: 16px !important;
  }
  .preview-request-container .content .timeline .ant-timeline-item-head-custom .img {
    width: 35px;
    border-radius: 50%;
  }
  .preview-request-container .content .properties {
    width: 25%;
  }
  .preview-request-container .content .properties h1.section-title {
    color: #000 !important;
    font-size: 1.2rem;
    margin: 0 0 10px 0 !important;
  }
  .preview-request-container hr {
    border: 1px solid #eee;
    margin: 15px 0;
  }

  .preview-request-container textarea {
    border-radius: 5px;
  }
  @media screen and (max-width: 800px) {
    .preview-request-container {
      padding: 20px 10px;
    }

    .preview-request-container .content {
        flex-direction: column;
    }
    .preview-request-container .content .timeline {
        width: 100%;
    }
    .preview-request-container .content .properties {
        width: 100%;
    }

    .preview-request-container .content .timeline .ant-timeline-item-content {
      padding: 10px !important;
      margin: 0 0 0 40px !important;
      width: auto !important;
    }
  }
  

  .preview-request-container .attachments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
  }
  .preview-request-container img.attachment-file-icon {
    cursor: pointer;
    transition: 0.3s;
  }
  .preview-request-container img.attachment-file-icon:hover {
    transform: translateY(-10px);
  }

  .preview-request-container .Approved-reply {
    background-color: #277c62 !important;
  }
  .preview-request-container .Rejected-reply {
    background-color: #ff272b !important;
  }
  .preview-request-container .Reason-reply h3,
    .preview-request-container .Approved-reply time {
    color: #fff !important;
  }
  .preview-request-container .Approved-reply .reply-content {
    background-color: transparent !important;
    color: #000 !important;
  }
  
  .ant-checkbox-wrapper {
    align-items: center !important;
  }