.profile-container .ant-image {
  border-radius: 25px !important;
  overflow: hidden !important;
}


.profile-information .header {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.profile-information .header h2{
  position: relative;
}
.profile-information .header h2::after {
  content: '';
}
.profile-information .header h2::before {
  content: '';
}


.profile-information .personal span,
.profile-information .contact span {
  display: block;
}