.profile-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 25px;
}
@media screen and (max-width: 800px) {
  .profile-container {
    padding: 0;
  }
}


.profile-container .header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.profile-container .header .ant-image {
  border-radius: 10px !important;
  overflow: hidden !important;
}
.profile-container .header span.ant-typography {
  display: block;
}
@media screen and (max-width: 800px) {
  .profile-container .header .ant-image {
    width: 80px !important;
    height: 80px !important;
  }
  .profile-container .header h1 {
    font-size: 1.5rem !important;
  }
  .profile-container .header span.ant-typography {
    font-size: 1rem !important;
  }
}





.profile-container .card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.profile-container .card-content svg {
  color: var(--link-text-color);
}