.boc-light {
  height: calc(100vh - 50px) !important;
  background-color: transparent !important;
}
.boc-edit-form-instruments {
  min-height: 0px !important;
}
[data-n-id] rect {
  fill: var(--second-color) !important;
}
.boc-edit-form-header {
  border-radius: 0px !important;
  background-color: var(--main-color) !important;
}
.boc-edit-form-title {
  color: #fff !important;
}
.boc-edit-form-avatar {
  width: 120px !important;
  height: 120px !important;
  top: 55px !important;
}

[data-n-id] rect {
  fill: var(--second-color) !important;
}
[data-n-id='1'] rect {
  fill: var(--main-color) !important;
}


.boc-form-field .boc-input:has(input[data-binding="img"]), 
.boc-form-field .boc-input:has(input[data-binding="assistance"]) {
  display: none !important;
}
.boc-form-field label.hasval {
  text-transform: capitalize !important;
}
/* [data-n-id='2'] rect {
  fill: var(--main-color);
} */
/* [data-l-id] path {
  stroke: var(--third-color);
} */


#tree.boc-light::backdrop {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2.5px);
}