.research-section-container {

}
.research-section-container .article-img {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  margin-bottom: 12px;
  min-height: 14rem;
  transition: 0.3s;
}
.research-section-container .article-img.small {
  min-height: 6rem;
  margin-bottom: 0;
}


.research-section-container .article-img .content {
  opacity: 0;
  width: 100%;
  min-height: inherit;
  overflow: hidden;
  background-color: #00000080;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
}
.research-section-container .article-img .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background: #000;
  background: linear-gradient(0deg,rgba(0,0,0,.5),transparent 25%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  align-items: end;
  transition: .5s;
}
.research-section-container .article-img.small .label {
  font-size: 1rem;
  line-height: 1;
  padding: 10px;
}
.research-section-container .article-img.small .content {
  white-space: nowrap;
}
.research-section-container .article-img .content * {
  color: #fff !important;
}
.research-section-container .article-img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.research-section-container .article-img:hover .content {
  opacity: 1;
}
.research-section-container .article-img:hover .content {
  opacity: 1;
}
.research-section-container .article-img:hover .label {
  display: none;
}
.research-section-container .article-img.small:hover .label {
  display: flex;
  background-color: #00000090;
}

.research-section-container .ant-typography {
  line-height: 1.5 !important;
}
.research-section-container div.ant-typography {
  line-height: 1.4 !important;
  font-size: .9rem !important;
}

/* Scrollable Section */
.research-section-container .secondary-articles-container {
  display: flex;
  align-items: center;
  position: relative;
}
.research-section-container .secondary-articles-container .slider {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.research-section-container .secondary-articles-container .slider::-webkit-scrollbar {
  display: none;
}
.research-center_dashboard-container .arrow {
  padding: 7px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
  transition: .3s;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.research-center_dashboard-container .arrow:hover {
  opacity: .8;
}
.research-center_dashboard-container .arrow.prev-icon {
  left: 20px;
}
.research-center_dashboard-container .arrow.next-icon {
  right: 20px;
}
