.news-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 5px 12px #00000015;
  height: 100%;
  transition: 0.5s;
}
.news-box:hover {
  transform: scale(1.01);
  background-color: var(--third-color);
}

.news-box .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.news-box .header img {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 5px #ccc;
}
.news-box .header div h3 {
  font-weight: 400;
  font-size: 1rem;
}
.news-box .header div p {
  font-weight: 400;
  font-size: 0.8rem;
}

.news-box .img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  width: 100%;
  min-height: 15rem;
}
.news-box > h2 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
  line-height: 1.4;
  cursor: pointer;
}
.news-box > h2:hover {
  color: var(--second-color) !important;
}
.news-box > p * {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 0.9rem !important;
  line-height: 1.4 !important;
  background: transparent !important;
  font-family: unset !important;
  color: var(--text-color) !important;
}
.news-box > a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  display: block;
  text-align: right;
  color: #458CFF;
}