.node-container {
  background-color: var(--link-text-color);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 10px #00000010;
  border: 5px solid #0000001f;
  border-bottom-width: 8px;
  gap: 12px;
  position: relative;
  overflow: hidden;
  transition: .5s;
}

.node-container[id='0'] {
  padding: 0;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  border-radius: 50% !important;
}
.node-container[id='0']:hover {
  border-radius: 50% !important;
}
.node-container[id='0'] .node-img {
  width: 120px !important;
  height: 120px !important;
  box-shadow: none  !important;
}


.node-container[id='1'] .name {
  font-size: 1.7rem;
}


/* .node-container[id='1'] {
  background-color: var(--main-color);
  transform: scale(1.5);
  position: absolute;
  bottom: 40px;
}
.node-container[id='1']:hover {
  transform: scale(1.55) !important;
} */
.node-container:hover {
  box-shadow: 0 12px 30px #00000025;
  border-radius: 20px;
}
.node-container:active {
  transform: scale(0.97);
}
.node-container:hover {
  transform: scale(1.02);
}
.node-container .node-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.node-container .node-content .node-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 10px 15px #00000025;
  position: relative;
}
.node-container .node-content .job-title {
  font-size: 1.1rem;
}
.node-container .name {
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}



.node-button-div > div {
  transform: scale(1.5) !important;
}