
/* START FILE CARD */
.file-card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
}
.file-card:hover {
  background-color: #00000010;
  /* background: rgb(11,92,186);
  background: linear-gradient(345deg,#0b5cba,#4f9fff); */
}
/* .file-card:hover * {
  color: #fff !important;
} */
.file-card .img-container img {
  width: 80px;
  margin-bottom: 5px;
}
/* limit line for title */
.file-card > h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 1em !important;
  color: #000 !important;
  cursor: pointer;
}
.file-card > h5:hover {
  text-decoration: underline;
}

/* row styles -override-*/
.file-row {
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 650px;
}
.file-row:hover {
  top: 0;
  cursor: pointer;
}
.file-card:active {
  transform: scale(0.98);
}
.file-row > h5 {
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  text-align: left;
}
/* END FILE CARD */