.result-container {
  padding: 25px;
  padding-top: 50px;
  position: absolute;
  top: 0;
  margin-top: 50px;
  background-color: var(--third-color);
  height: calc(100vh - 50px);
}

.result-container .closeBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  border-radius: 1.2rem;
  line-height: 1;
  top: 35px;
  font-size: 1.5rem;
  background-color: #00000005;
  color: #a0a0a0;
  transition: .3s;
}
.result-container .closeBtn:hover {
  cursor: pointer;
  color: #000000;
  background-color: #00000015;
}


@media screen and (min-width: 800px) and (max-width: 1200px) {
  .result-container {
  padding: 15px;
  padding-top: 40px;
  }
}