.folder-explorer-container {
  padding: 15px;
  border-radius: 10px;
  min-height: calc(100vh - 85px);
  top: 85px;
  position: relative;
  overflow: hidden;
}
.folder-explorer-container iframe {
  min-height: calc(100vh - 115px);
  border: 0 !important;
}


.folder-explorer-container .folders {
  display: flex;
  flex-direction: row;
}
.folder-explorer-container .folders .tabs {
  width: 15%;
}
.folder-explorer-container .folders .content {
  width: 85%;
  min-height: calc(100vh - 115px);
  /* padding: 10px; */
  background-color: #fff;
  height: inherit;
}



.folder-explorer-container .folders .tabs ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.folder-explorer-container .folders .tabs ul li {
  color: #fff;
  background-color: rgb(46, 160, 230);
  position: relative;
  padding: 7px 3px 7px 14px;
  border-radius: 7px 0 0 7px;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .folder-explorer-container .folders .tabs ul li::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: beige;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 75%, rgba(0,0,0,0.1) 100%);
  }
}
.folder-explorer-container .folders .tabs ul li:hover,
.folder-explorer-container .folders .tabs ul li.active {
  background-color: var(--main-color);
}






@media screen and (max-width: 800px) {
  .folder-explorer-container .folders {
    flex-direction: column;
    gap: 25px;
  }
  
  .folder-explorer-container .folders .tabs {
    width: 100%;
  }
  .folder-explorer-container .folders .content {
    width: 100%;
  }

  .folder-explorer-container .folders .tabs ul li {
    border-radius: 7px 7px 0 0;
  }
}

